.main_inputs{
    margin: 10px;
    border-color: red;
}

.input_row{
    border-color: red;
    margin: 20px;
}
.label {
    font-size: 20px;
    color: black;
}
.spacing{
    min-height: 50px;
}